<div class="home-container">
    <div class="video-container-wrapper">

        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-02.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader.png" alt="" srcset="" class="video-uploader-img"></div>
            <div class="video-title">I Hated Everything About This... Until the END!!</div>
            <div class="video-details">Linus Tech Tips <br> 22K views • 15 minutes ago</div>
        </div>
    
 
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-03.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader2.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">Jotaro vs DIO but they're Social Distancing</div>
            <div class="video-details">Cizzle <br> 368K views • 2 weeks ago</div>
        </div>

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-04.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader3.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">Kid Nation - JonTron </div>
            <div class="video-details">JonTrronShow <br> 3.6M views • 2 days ago</div>
        </div>
    

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-05.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader4.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">How This Chair Conquered the World </div>
            <div class="video-details">neo <br> 704K views • 2 weeks ago</div>
        </div>
    
        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-06.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader5.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">Bartender VR just proved I am the worst bartender...</div>
            <div class="video-details">Call Me Kevin <br> 318K views • 23 hours ago</div>
        </div>
    

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-07.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader6.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">How FAKE SCIENCE Can Fool You - Wisecrack...</div>
            <div class="video-details">Wisecrack <br> 377K views • 4 days ago</div>
        </div>
    

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-08.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader7.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">NOBODY Can Play This Bassline</div>
            <div class="video-details">Wisecrack <br> 218K views • 4 hours ago</div>
        </div>
    

        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-09.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader8.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">Wow! DISGUSTING Subway TikTok Prank On...</div>
            <div class="video-details">Phillip DeFranco <br> 693K views • 20 hours ago</div>
        </div>
    

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-10.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader9.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">Are you writing responsive CSS the wrong way?</div>
            <div class="video-details">Kevin Powell <br>55K views • 1 month ago</div>
        </div>
    

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-11.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader10.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">This is Tony Hawk... a Pro Skater</div>
            <div class="video-details">JablinkskiGames <br>1.1M views • 3 days ago</div>
        </div>
    
        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-12.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader11.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">Will the PS5 be BETTER than PC?</div>
            <div class="video-details">Techlinked <br>234K views • 15 hours ago</div>
        </div>
    

        
        <div class="video-container">
            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-13.png" alt="" srcset="" class="video-thumbnail-large-img"></div>
            <div class="video-uploader"><img src="/assets/images/uploaders/uploader12.png" alt="" srcset=""class="video-uploader-img" ></div>
            <div class="video-title">The Weird History of Javascript</div>
            <div class="video-details">Fireship <br>499K views • 10 months ago</div>
        </div>
    

    </div>


</div>