
<div class="video-details">
    <div class="layout-wrapper">
        
    </div>
    
    <div class="video-wrapper">
        <div class="video-area">
            <iframe  src="https://www.youtube.com/embed/JvzPr3oj5-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h2>This is the Title of the Video</h2>
            <h3>666,666 views • 30 Apr 2020</h3>
          
            <div class="uploader">
                <img src="/assets/images/uploaders/uploader.png" alt="" class="uploader-img">
                username666
            </div>
          
            <div class="comments">The Comments Are Disabled for This Video</div>
        </div>

        <div class="suggestion-area">

            <h2>Up next</h2>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-01.jpg" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">He uses MAYO as SHAMPOO?</div>
                    <div class="suggestion-uploader">PewDiePie</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-02.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Best VR experience?</div>
                    <div class="suggestion-uploader">LinusDropTips</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-03.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Dio Brando Wears a Mask</div>
                    <div class="suggestion-uploader">Crusaders</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>
               
            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-04.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Kids are really stupid</div>
                    <div class="suggestion-uploader">JonTronShon</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-05.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">How This Chair Conquered za Warudo</div>
                    <div class="suggestion-uploader">nox</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>
            
            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-06.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Bartender VR Gameplay</div>
                    <div class="suggestion-uploader">Kevo</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-07.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">This actor went NUTS and is scamming people</div>
                    <div class="suggestion-uploader">WiseCracc</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-08.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Impossible bassline</div>
                    <div class="suggestion-uploader">PewDie504</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-09.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">KSI said WHAT? Also I don't know...</div>
                    <div class="suggestion-uploader">PhillyD</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-10.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Leaughig at screens c:</div>
                    <div class="suggestion-uploader">Random Dude</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-11.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">Two Nerds Wearing Glasses</div>
                    <div class="suggestion-uploader">Jack Black</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-12.png" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">THE UNREAL ENGINE 5 IS UNREAL</div>
                    <div class="suggestion-uploader">TechLinked</div>
                    <div class="suggestion-views">Recommended for you</div>
                </div>
            </div>

            <div class="video-suggestion">
                <div class="video-suggestion-thumbnail">
                    <img src="/assets/images/thumbnails/thumbnail-00.jpg" alt="" srcset="" class="video-thumbnail-img">
                </div>
                <div class="video-suggestion-text">
                    <div class="suggestion-title">You Will Die Tonight</div>
                    <div class="suggestion-uploader">user666</div>
                    <div class="suggestion-views">You will Die Tonight</div>
                </div>
            </div>

    </div>


</div>

