<div>
    <img src="/assets/images/channel-banner.jpg" alt="" srcset="" class="banner">
</div>

<div class="channel-container">
    <div class="channel-icon-container"><img src="/assets/images/channelicon.jpg" alt="" srcset="" class="channel-icon"></div>
    <div class="channel-name">username666</div>
    <div class="channel-subscribers">666 Subscribers</div>
    <div class="subscribe-button-wrapper">
       <div class="subscribe-button">SUBSCRIBE</div> 
    </div>
</div>


<div class="body">
    <div class="home-container">
        <div class="video-container-wrapper">

            <a routerLink="/watch7iFXyLah2oQt">
            <div class="video-container">
                <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-00.jpg" alt="" srcset="" class="video-thumbnail-large-img"></div>
                <div class="video-uploader"><img src="/assets/images/uploader.png" alt="" srcset=""></div>
                <div class="video-title">You</div>
                <div class="video-details">user666 <br> 0 views • unknown minutes ago</div>
            </div>
            </a>
        
            <a routerLink="/watch7iFXyLah2oQt">
                <div class="video-container">
                    <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-00.jpg" alt="" srcset="" class="video-thumbnail-large-img"></div>
                    <div class="video-uploader"><img src="/assets/images/uploader.png" alt="" srcset=""></div>
                    <div class="video-title">Will</div>
                    <div class="video-details">user666 <br> 0 views • unknown minutes ago</div>
                </div>
                </a>
        
            
                <a routerLink="/watch7iFXyLah2oQt">
                    <div class="video-container">
                        <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-00.jpg" alt="" srcset="" class="video-thumbnail-large-img"></div>
                        <div class="video-uploader"><img src="/assets/images/uploader.png" alt="" srcset=""></div>
                        <div class="video-title">Die</div>
                        <div class="video-details">user666 <br> 0 views • unknown minutes ago</div>
                    </div>
                    </a>
        
            
                    <a routerLink="/watch7iFXyLah2oQt">
                        <div class="video-container">
                            <div class="video-thumbnail-large"><img src="/assets/images/thumbnails/thumbnail-00.jpg" alt="" srcset="" class="video-thumbnail-large-img"></div>
                            <div class="video-uploader"><img src="/assets/images/uploader.png" alt="" srcset=""></div>
                            <div class="video-title">Tonight</div>
                            <div class="video-details">user666 <br> 0 views • unknown minutes ago</div>
                        </div>
                        </a>
        
            </div>
        
        </div>
</div>
