<header>
  <div class="container">

    <div class="logo-container-wrapper">
      <div class="logo-container">
        <div>      
          <img src="/assets/images/hamburger_icon.png" alt="" class="icon" id="hamburger-menu">
          <a href="#"> <img src="/assets/images/logo.png" routerLink="/home" alt="" id="logo"></a>
        </div>
        <div>

        </div>
      </div>
    </div>
    
    <div class="search-bar-container">
      <input type="text" placeholder="Search" name="" id="search-bar">
    </div>

    <div class="utilities-container">
      <div></div>
      <div class="utilities">
      <a href="#"><img src="/assets/images/upload_icon.png" alt="" class="icon"></a>
      <a href="#"><img src="/assets/images/apps_icon.png" alt="" class="icon"></a>
      <a href="#"><img src="/assets/images/settings_icon.png" alt="" class="icon"></a>
      <a href="#">SIGN IN</a>
      </div>
      
 
    </div>
    
  </div>
</header>


<aside>
  <ul>
    <li><a href="#"><img src="/assets/images/home_icon.png" alt="" class="icon"></a>Home</li>
    <li><a href="#"><img src="/assets/images/trending_icon.png" alt="" class="icon"></a>Trending</li>
    <li><a href="#"><img src="/assets/images/subscriptions_icon.png" alt="" class="icon"></a>Subscriptions</li>
    <li><a href="#"><img src="/assets/images/libary_icon.png" alt="" class="icon"></a>Libary</li>
    <li><a href="#"><img src="/assets/images/history_icon.png" alt="" class="icon"></a>History</li>

    <li>Show more</li>
  </ul>
</aside>


<div class="conainer">
  <router-outlet></router-outlet>
</div>

<script>

setCookie()

</script>